<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <!-- START: header -->
  
  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="index.html" class="probootstrap-logo">Pixels<span>.</span></a>
        
        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li class="active"><a href="/index">Home</a></li>
          </ul>
          <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>Connect</h5>
            <ul class="social-buttons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  </header>
  <!-- END: header -->
  <div class="probootstrap-main-content">
    <section class="probootstrap-slider flexslider">
      <ul class="slides">
         <!-- class="overlay" -->
        <li style="background-image: url(img/slider_1.jpg);">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate mb20">我们志愿 我们有爱</h1>
                  <div class="probootstrap-animate probootstrap-sub-wrap mb30">Volunteering<a href="#">西部志愿</a> 占位符 <a href="#">占位符</a></div>
                  <p class="probootstrap-animate"><a href="/zyzlog" class="btn btn-ghost btn-ghost-white">志愿者登录</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- class="overlay" -->
        <li style="background-image: url(img/slider_5.jpg);">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                  <h1 class="probootstrap-heading probootstrap-animate mb20">我们志愿 我们行动</h1>
                  <div class="probootstrap-animate probootstrap-sub-wrap mb30">大爱无疆 </div>
                  <p class="probootstrap-animate"><a href="/login" class="btn btn-ghost btn-ghost-white">管理员登录</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container-fluid">
        <div class="section-heading text-center">
          <h2 class="mt0 mb0">志愿组织</h2>
        </div>
      </div>
    </section>
    <section class="probootstrap-half">
      <div class="image-wrap">
        <div class="image" style="background-image: url(img/slider_7.jpg);"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle" th:text="${newsTitle1}">标题</p>
        <h3 class="mt0 mb40" th:text="${newsText1}" >正文</h3>
        <p >作者:<span th:text="${newsAuthor1}"></span></p>
        <p class="mb50" ></p>
        <p><a href="#" class="btn btn-ghost btn-ghost-white mb10">了解作者</a> &nbsp; <a href="#" class="btn btn-primary mb10">查看更多</a></p>
      </div>
    </section>
    <section class="probootstrap-half reverse">
      <div class="image-wrap">
        <div class="image" style="background-image: url(img/slider_6.jpg);"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">关于这个</p>
        <h3 class="mt0 mb40">我们团队</h3>
        <p>团队介绍</p>
        <p class="mb50">团队介绍</p>
        <p><a href="#" class="btn btn-ghost btn-ghost-white mb10">了解更多</a></p>
      </div>
    </section>
     <section class="probootstrap-half">
      <div class="image-wrap">
        <div class="image" style="background-image: url(img/slider_2.jpg);"></div>
      </div>
      <div class="text">
        <p class="mb10 subtitle">Our Services</p>
        <h3 class="mt0 mb40">What We Do</h3>
        <div class="row mb20">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="service-item">
              <span class="number">1</span>
              <h4 class="mt0"  th:text="${newsTitle2}">志愿内容</h4>
              <p th:text="${newsText2}">志愿内容</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="service-item">
              <span class="number">2</span>
              <h4 class="mt0" th:text="${vmn1}">志愿内容2</h4>
              <p th:text="${vmt1}">志愿内容2</p>
            </div>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="service-item">
              <span class="number">3</span>
              <h4 class="mt0" th:text="${zcname1}">政策文件</h4>
              <p th:text="${zctext1}">政策文件内容</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="service-item">
              <span class="number" >4</span>
              <h4 class="mt0" th:text="${zcname2}">政策文件1</h4>
              <p th:text="${zctext2}">政策文件2</p>
            </div>
          </div>
        </div>
        <p><a href="#" class="btn btn-ghost btn-ghost-white mb10">See All Our Services</a></p>
      </div>
    </section>
    <section class="probootstrap-section probootstrap-bg-white">
        <div class="container">
          <!-- END row -->
          <div class="row">
            <div class="col-md-12 probootstrap-animate">
              <div class="owl-carousel owl-carousel-testimony owl-carousel-fullwidth mt50">
                <div class="item">

                  <div class="probootstrap-testimony-wrap">
                    <figure>
                      <img src="img/person_1.jpg" alt="Free Bootstrap Template">
                    </figure>
                    <blockquote class="quote"  th:text="${userinfo2}">人员信息 <cite class="author" th:text="${author1}">&mdash; 作者 <br> <span>Design Lead at AirBNB</span></cite></blockquote>
                  </div>

                </div>
                <div class="item">
                  <div class="probootstrap-testimony-wrap">
                    <figure>
                      <img src="img/person_2.jpg" alt="Free Bootstrap Template">
                    </figure>
                    <blockquote class="quote"  th:text="${userinfo3}">人员信息 <cite class="author2" th:text="${author2}">&mdash;作者 <br> <span>Co-Founder Square</span></cite></blockquote>
                  </div>
                </div>
                <div class="item">
                  <div class="probootstrap-testimony-wrap">
                    <figure>
                      <img src="img/person_3.jpg" alt="Free Bootstrap Template">
                    </figure>
                    <blockquote class="quote" th:text="${userinfo1}">个人简介内容<cite class="author" th:text="${author}">&mdash; 作者 <br> <span>发表于西部志愿网</span></cite></blockquote>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <!-- END row -->
        </div>
      </section>
    </div>

    <div class="probootstrap-footer-spacer"></div>
    <footer class="probootstrap-footer">
      <div class="probootstrap-footer-section">
        <div class="container">
          <div class="row mb80">
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
              <h3>About Us</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <p><a href="#" class="btn btn-ghost btn-ghost-white btn-sm">I'm a button</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="probootstrap-link-wrap probootstrap-footer-widget">
                <h3>Services</h3>
              </div>
            </div>
            <div class="col-md-4">
            </div>
          </div>
          <div class="row">
            <p class="text-center">2023@西部志愿</p>
          </div>
        </div>
      </div>
    </footer>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>
  

  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  </body>
</html>